# Atlassian OAuth

NUXT_OAUTH_ATLASSIAN_CLIENT_ID=KsGouXWaflWOcS9oVxNlYbvVEWtKFBnx
NUXT_OAUTH_ATLASSIAN_CLIENT_SECRET=
NUXT_OAUTH_ATLASSIAN_REDIRECT_URL=http://localhost:3000/auth/atlassian

NUXT_SESSION_PASSWORD=a-random-string-at-least-32-characters-long
